{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<style>
    .form-group label {
        margin-bottom: 10px; 
    }
    .form-group input {
        margin-bottom: 10px; 
    }
</style>
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Sign Up Here...</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Sign Up</li>
    </ol>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5" style="box-shadow: 0 0 20px rgba(85, 144, 233, 1);"> 
                    <div class="card-body text-dark">
                        <h2 class="card-title" style="font-weight: bold;">Sign Up</h2>
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <p class="mt-3">Already have an account? <a href="{% url 'login' %}" class="signup-link">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
