{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cart' %}">Cart</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form action="#">
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-item">
                        <label class="form-label my-3">Address <sup>*</sup></label>
                        <input type="text" class="form-control" placeholder="House Number Street Name">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Town/City<sup>*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">State<sup>*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Postcode/Zip<sup>*</sup></label>
                        <input type="number" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Country<sup>*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3">Phone Number<sup>*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <th scope="row">
                                        <div class="d-flex align-items-center mt-2">
                                            {% if item.coin.first.coin_image %}
                                            <img src="{{ item.coin.first.coin_image.url }}" class="img-fluid rounded-circle"
                                                style="width: 90px; height: 90px;" alt="{{ item.coin.first.coin_name }}">
                                            {% else %}
                                            <img src="{% static 'img/default.jpg' %}" class="img-fluid rounded-circle"
                                                style="width: 90px; height: 90px;" alt="Default Image">
                                            {% endif %}
                                        </div>
                                    </th>
                                    <td class="py-5">{{ item.coin.first.coin_name }}</td>
                                    <td class="py-5">{{ item.coin.first.rate }}</td>
                                    <td class="py-5">{{ item.quantity }}</td>
                                    <td class="py-5">{{ item.price }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark py-3">Subtotal</p>
                                    </td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">{{ total_price }}</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"></th>
                                    <td class="py-5" colspan="4">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h3 class="mb-0 text-dark py-3"><span class="fw-bold">Offers</span></h3>
                                            <button id="viewOffersBtn" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#offersCollapse" aria-expanded="false" aria-controls="offersCollapse">
                                                View Offers
                                            </button>
                                        </div>
                                        <div class="collapse mt-3" id="offersCollapse">
                                            <div class="card card-body">
                                                <div class="form-check text-start">
                                                    {% for offer in all_offers %}
                                                    <div class="form-check text-start">
                                                        <input type="checkbox" class="form-check-input bg-primary border-0" id="offer-{{ offer.id }}" name="selected_offers" value="{{ offer.id }}">
                                                        <label class="form-check-label" for="offer-{{ offer.id }}">{{ offer.name }} - {{ offer.discount_percentage }}% off</label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <button id="applyOfferBtn" class="btn btn-secondary mt-3" type="button">Apply Offer</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                                                                                                                         
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">$135.00</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="button"
                            class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place
                            Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
{% endblock content %}