{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cart' %}">Cart</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<style>
    .form-group label {
        margin-bottom: 10px; 
    }
    .form-group input, textarea, select {
        margin-bottom: 10px; 
    }
</style>
<!-- Single Page Header End -->

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 text-center">Billing Details</h1>
        <form id="checkoutForm" action="{% url 'place_order' %}" method="post">
            {% csrf_token %}
            <div id="alertContainer" class="mb-4"></div>
            <div class="row g-5">
                <div class="col-md-12 col-lg-6">
                    <!-- Address Selection Card -->
                    <div class="card border-0" style="box-shadow: 0px 0px 15px rgba(123, 229, 236, 0.6);">
                        <div class="card-body">
                            <h5 class="card-title mb-4 text-blue"><i class="bi bi-geo-alt-fill me-2 text-primary"></i> Select Address</h5>
                            <select class="form-select mb-4" id="selectAddressDropdown" name="selected_address">
                                <option value="" selected>Select an existing address or add new address</option>
                                {% for address in shipping_addresses %}
                                <option value="{{ address.id }}">{{ address.address }}, {{ address.city }}, {{ address.state }}, {{ address.postal_code }}, {{ address.country }}, {{ address.phone_no }}</option>
                                {% endfor %}
                                <option value="new">Add a new address</option>
                            </select>
                            <!-- New Address Form -->
                            <div id="newAddressForm" class="d-none">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                            </div>
                            <div id="selectedAddressSection"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <!-- Order Summary Card -->
                    <div class="card border-0" style="box-shadow: 0px 0px 10px rgb(156, 190, 5);">
                        <div class="card-body">
                            <h5 class="card-title mb-4 text-blue"><i class="bi bi-cart-fill me-2"></i> Order Summary</h5>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><h6>Products</h6></th>
                                            <th scope="col"><h6>Name</h6></th>
                                            <th scope="col"><h6>Price</h6></th>
                                            <th scope="col"><h6>Quantity</h6></th>
                                            <th scope="col"><h6>Total</h6></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item, root_image in cart_items_with_images %}
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    {% if root_image %}
                                                    <img src="{{ root_image.image.url }}" class="img-fluid rounded-circle" style="width: 75px; height: 65px;" alt="{{ item.coin.first.coin_name }}">
                                                    {% else %}
                                                    <img src="{% static 'img/default.jpg' %}" class="img-fluid rounded-circle" style="width: 75px; height: 65px;" alt="Default Image">
                                                    {% endif %}
                                                </div>
                                            </th>
                                            <td class="py-5"><h5>{{ item.coin.first.coin_name }}</h5></td>
                                            <td class="py-5"><h5>{{ item.coin.first.rate }}</h5></td>
                                            <td class="py-5"><h5>{{ item.quantity }}</h5></td>
                                            <td class="py-5"><h5>{{ item.price }}/-</h5></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Subtotal Section -->
                            <div class="mt-4 p-4 bg-white rounded shadow-lg" style="background: linear-gradient(to top, #f8f9fa, #f0ee75);">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0 h4"><i class="bi bi-calculator me-2"></i>Subtotal:</p>
                                    <p class="mb-0 h4">{{ total_price }}/-</p>
                                </div>
                            </div>
                            <!-- Applied Offers section -->
                            {% if eligible_offers %}
                            <div class="mt-4">
                                <h5 class="card-title mb-4 text-blue">
                                    <i class="bi bi-gift-fill me-2"></i> Applied Offers
                                </h5>
                                <div class="card border-0 shadow-lg p-3">
                                    {% for offer in eligible_offers %}
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-tag-fill me-1 text-danger"></i>
                                            <h5>{{ offer.name }}</h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            {% if offer.offer_type == 'UserBased' %}
                                                {% if revised_discount_percentage %}
                                                    <h5><i class="bi bi-dash"></i> {{ revised_discount_percentage }}% off <i class="bi bi-check-circle-fill text-success"></i></h5>
                                                {% else %}
                                                    <h5><i class="bi bi-dash"></i> {{ offer.discount_percentage }}% off <i class="bi bi-check-circle-fill text-success"></i></h5>
                                                {% endif %}
                                            {% else %}
                                                <h5><i class="bi bi-dash"></i> {{ offer.discount_percentage }}% off <i class="bi bi-check-circle-fill text-success"></i></h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                            <div class="mt-4">
                                <h5 class="card-title mb-4 text-blue">
                                    <i class="bi bi-info-circle-fill me-2 text-danger"></i> No Eligible Offers
                                </h5>
                            </div>
                            {% endif %}
                            <!-- Final Price Section -->
                            <div class="mt-4">
                                <h5 class="card-title mb-4 text-blue">
                                    <i class="bi bi-cash me-2"></i> Order Total
                                </h5>
                                <div class="mt-4 p-4 bg-white rounded shadow-lg" style="background: linear-gradient(to top, #f8f9fa, #ccf3c2);">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-0 h4 display-6">Total</p>
                                        <p class="mb-0 h4 display-6">{{ final_price }}/-</p>
                                    </div>
                                </div>
                            </div>
                            {% for offer in eligible_offers %}
                            <input type="hidden" name="eligible_offers" value="{{ offer.id }}">
                            {% endfor %}
                            <div class=" text-center align-items-center justify-content-center pt-4">
                                <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-blue" onclick="return validateForm()">
                                    <i class="bi bi-box-arrow-in-right me-2"></i>Place Order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
<script>
    function validateForm() {
        const selectedAddressDropdown = document.getElementById('selectAddressDropdown');
        const selectedAddressId = selectedAddressDropdown.value;

        // If no address is selected or new address form is not filled
        if (selectedAddressId === "" || (selectedAddressId === "new" && !isNewAddressFormFilled())) {
            const alertContainer = document.getElementById('alertContainer');
            alertContainer.innerHTML = `
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Please select an existing address or fill out the new address form completely.</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            `;
            return false;
        }
        return true;
    }

    function isNewAddressFormFilled() {
        const newAddressFormFields = document.getElementById('newAddressForm').querySelectorAll('input[type=text], select');
        for (let field of newAddressFormFields) {
            if (field.value.trim() === "") {
                return false;
            }
        }
        return true;
    }
    document.getElementById('selectAddressDropdown').addEventListener('change', function() {
        const newAddressForm = document.getElementById('newAddressForm');
        if (this.value === 'new') {
            newAddressForm.classList.remove('d-none');
        } else {
            newAddressForm.classList.add('d-none');
        }
    });

    document.getElementById('selectAddressDropdown').addEventListener('change', function() {
        const selectedAddressSection = document.getElementById('selectedAddressSection');
        const selectedAddressId = this.value;

        // If an existing address is selected
        if (selectedAddressId !== 'new') {
            const selectedAddress = this.options[this.selectedIndex].text;

            // Update the selected address section with the selected address
            selectedAddressSection.innerHTML = `
                <h4>Selected Address</h4>
                <p class="text-danger fw-bold">${selectedAddress}</p>
            `;
        } else {
            // If the user chooses to add a new address, clear the selected address section
            selectedAddressSection.innerHTML = '';
        }
    });
</script>
{% endblock content %}
