{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'cart' %}">Cart</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 text-center">Billing Details</h1>
        <form id="checkoutForm" action="{% url 'place_order' %}" method="post">
            {% csrf_token %}
            <div class="row g-5">
                <div class="col-md-12 col-lg-6">
                    <!-- Display Selected Shipping Address -->
                    <div class="card border-0 mb-4" style="box-shadow: 0px 0px 10px rgb(156, 190, 5);">
                        <div class="card-body">
                            <h5 class="card-title mb-4 text-blue"><i class="bi bi-house-fill me-2"></i> Selected Shipping Address</h5><a href="{% url 'select-shipping' %}" class="btn btn-danger btn-sm">Change</a>
                            <hr>
                            <div class="address-details">
                                <p class="mb-2">
                                    <i class="bi bi-person-fill me-2 text-success"></i>
                                    <strong>Name:</strong> {{ shipping_address.user.first }} {{ shipping_address.user.last_name }}
                                </p>
                                <p class="mb-2">
                                    <i class="bi bi-geo-alt-fill me-2 text-success"></i>
                                    <strong>Address:</strong> {{ shipping_address.address }}
                                </p>
                                {% if shipping_address.address_line2 %}
                                <p class="mb-2">
                                    <i class="bi bi-geo-alt-fill me-2 text-success"></i>
                                    {{ shipping_address.address_line2 }}
                                </p>
                                {% endif %}
                                <p class="mb-2">
                                    <i class="bi bi-building me-2 text-success"></i>
                                    <strong>City:</strong> {{ shipping_address.city }}
                                </p>
                                <p class="mb-2">
                                    <i class="bi bi-building me-2 text-success"></i>
                                    <strong>State:</strong> {{ shipping_address.state }}
                                </p>
                                <p class="mb-2">
                                    <i class="bi bi-globe me-2 text-success"></i>
                                    <strong>Country:</strong> {{ shipping_address.country }}
                                </p>
                                <p class="mb-2">
                                    <i class="bi bi-mailbox me-2 text-success"></i>
                                    <strong>Postal Code:</strong> {{ shipping_address.postal_code }}
                                </p>
                                <p class="mb-2">
                                    <i class="bi bi-telephone-fill me-2 text-success"></i>
                                    <strong>Phone:</strong> {{ shipping_address.phone_no }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <!-- Order Summary Card -->
                    <div class="card border-0" style="box-shadow: 0px 0px 10px rgb(156, 190, 5);">
                        <div class="card-body">
                            <h5 class="card-title mb-4 text-blue"><i class="bi bi-cart-fill me-2"></i> Order Summary</h5>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col"><h6>Products</h6></th>
                                            <th scope="col"><h6>Name</h6></th>
                                            <th scope="col"><h6>Price</h6></th>
                                            <th scope="col"><h6>Quantity</h6></th>
                                            <th scope="col"><h6>Total</h6></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item, root_image in cart_items_with_images %}
                                        <tr>
                                            <th scope="row">
                                                <div class="d-flex align-items-center mt-2">
                                                    {% if root_image %}
                                                    <img src="{{ root_image.image.url }}" class="img-fluid rounded-circle" style="width: 75px; height: 65px;" alt="{{ item.coin.first.coin_name }}">
                                                    {% else %}
                                                    <img src="{% static 'img/default.jpg' %}" class="img-fluid rounded-circle" style="width: 75px; height: 65px;" alt="Default Image">
                                                    {% endif %}
                                                </div>
                                            </th>
                                            <td class="py-5"><h5>{{ item.coin.first.coin_name }}</h5></td>
                                            <td class="py-5"><h5>{{ item.coin.first.rate }}</h5></td>
                                            <td class="py-5"><h5>{{ item.quantity }}</h5></td>
                                            <td class="py-5"><h5>{{ item.price }}/-</h5></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Subtotal Section -->
                            <div class="mt-4 p-4 bg-white rounded shadow-lg" style="background: linear-gradient(to top, #f8f9fa, #f0ee75);">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0 h5"><i class="bi bi-calculator me-2"></i>Subtotal:</p>
                                    <p class="mb-0 h5">{{ total_price }}/-</p>
                                </div><span>&nbsp;</span>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0 h5"><i class="bi bi-box me-2"></i>Shipping Charges:</p>
                                    <p class="mb-0 h5"><i class="bi bi-plus"></i> {{ applied_shipping_charge }}/-</p>
                                </div>
                            </div>
                            <!-- Applied Offers section -->
                            {% if eligible_offers %}
                            <div class="mt-4">
                                <h5 class="card-title mb-4 text-blue">
                                    <i class="bi bi-gift-fill me-2"></i> Applied Offers
                                </h5>
                                <div class="card border-0 shadow-lg p-3">
                                    {% for offer in eligible_offers %}
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div class="d-flex align-items-center">
                                            <i class="bi bi-tag-fill me-1 text-danger"></i>
                                            <h5>{{ offer.name }}</h5>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            {% if offer.offer_type == 'UserBased' %}
                                                {% if revised_discount_percentage %}
                                                    <h5><i class="bi bi-dash"></i> {{ revised_discount_percentage }}% off <i class="bi bi-check-circle-fill text-success"></i></h5>
                                                {% else %}
                                                    <h5><i class="bi bi-dash"></i> {{ offer.discount_percentage }}% off <i class="bi bi-check-circle-fill text-success"></i></h5>
                                                {% endif %}
                                            {% else %}
                                                <h5><i class="bi bi-dash"></i> {{ offer.discount_percentage }}% off <i class="bi bi-check-circle-fill text-success"></i></h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% else %}
                            <div class="mt-4">
                                <h5 class="card-title mb-4 text-blue">
                                    <i class="bi bi-info-circle-fill me-2 text-danger"></i> No Eligible Offers
                                </h5>
                            </div>
                            {% endif %}
                            <!-- Final Price Section -->
                            <div class="mt-4">
                                <h5 class="card-title mb-4 text-blue">
                                    <i class="bi bi-cash me-2"></i> Order Total
                                </h5>
                                <div class="mt-4 p-4 bg-white rounded shadow-lg" style="background: linear-gradient(to top, #f8f9fa, #ccf3c2);">
                                    <div class="d-flex justify-content-between">
                                        <p class="mb-0 h4 display-6">Total</p>
                                        <p class="mb-0 h4 display-6">{{ final_price }}/-</p>
                                    </div>
                                </div>
                            </div>
                            {% for offer in eligible_offers %}
                            <input type="hidden" name="eligible_offers" value="{{ offer.id }}">
                            {% endfor %}
                            <input type="hidden" name="selected_address_id" value="{{ shipping_address.id }}">
                            <div class=" text-center align-items-center justify-content-center pt-4">
                                <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-blue" onclick="return validateForm()">
                                    <i class="bi bi-box-arrow-in-right me-2"></i>Place Order
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
{% endblock content %}
