{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Coin Details</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active text-white">Coin Details</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-12 col-xl-12">
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {% endif %}
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded">
                            <a href="#">
                                {% if root_image %}
                                    <img src="{{ root_image.image.url }}" class="img-fluid rounded" style="width: 100%;" alt="{{ coin.coin_name }}">
                                {% else %}
                                    <img src="{% static 'img/default.jpg' %}" class="img-fluid rounded" style="width: 100%;" alt="{{ coin.coin_name }}">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">{{ coin.coin_name }}</h4>
                        <h5 class="fw-bold mb-3">{{ coin.rate }} /-</h5>
                        <p class="mb-4">{{ coin.coin_desc }}</p>
                        <div class="text-left">
                            <div class="btn-group">
                                {% if request.user not in coin.user.all %}
                                <form method="post" action="{% url 'add_to_cart' coin.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-blue"><i
                                            class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                                </form><span>&nbsp;</span>
                                {% endif %}
                                {% if request.user in coin.user.all %}
                                    <a href="{% url 'edit_coin' coin.id %}" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-blue">
                                        <i class="fa fa-edit me-2 text-primary"></i> Edit Coin
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                    id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                    aria-controls="nav-about" aria-selected="true">Description</button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>{{ coin.coin_desc }}</p>
                                <div class="px-2">
                                    <div class="row g-4">
                                        <div class="col-12 text-dark" style="font-weight: bold;">
                                            <div
                                                class="row bg-light align-items-center text-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Weight</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{ coin.coin_weight }}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Country of Origin</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{ coin.coin_country }}</p>
                                                </div>
                                            </div>
                                            <div
                                                class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Material</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{ coin.coin_material }}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Year</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{ coin.coin_year }}</p>
                                                </div>
                                            </div>
                                            <div
                                                class="row bg-light text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Starting Bid</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{ coin.starting_bid }}</p>
                                                </div>
                                            </div>
                                            <div class="row text-center align-items-center justify-content-center py-2">
                                                <div class="col-6">
                                                    <p class="mb-0">Status</p>
                                                </div>
                                                <div class="col-6">
                                                    <p class="mb-0">{{ coin.coin_status }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if coin_images %}
        <div class="container-fluid vesitable py-5">
            <h1 class="mb-0">More Images</h1>
            <div class="owl-carousel vegetable-carousel justify-content-center">
                {% for image in coin_images %}
                    <div class="rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            {% if root_image %}
                                <img src="{{ image.image.url }}" class="img-fluid w-100 rounded-top" alt="{{ coin.coin_name }}">
                            {% else %}
                                <img src="{% static 'img/default.jpg' %}" class="img-fluid w-100 rounded-top" alt="{{ coin.coin_name }}">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- Single Product End -->
{% endblock content %}