{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<style>
  .form-group label {
      margin-bottom: 10px; 
  }
  .form-group input, textarea {
      margin-bottom: 10px; 
  }
</style>
<div class="container-fluid page-header py-5 bg-primary">
  <h1 class="text-center text-white display-6">Edit Your Coin</h1>
  <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item active text-white">Edit Your Coin</li>
  </ol>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title fw-bold">Edit Your Coin 
            <a href="{% url 'dashboard' %}" class="btn btn-warning float-end">Return</a>
          </h3>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary mt-3">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
