{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% load custom_filters %}
{% block content %}
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Dashboard</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item active text-white">{{ table_name|title }}</li>
    </ol>
</div>
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="text-center mb-4">Manage Images for {{ order.invoice_no }}</h1>
        <div class="row justify-content-center">
            <div class="table-responsive">
                <table id="order-table" class="table text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Coin</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="order-table-body" style="background: linear-gradient(90deg, rgb(255, 255, 255), #c7e61b); font-weight: bold;" class="text-dark">
                        {% for orders in order_items %}
                        <tr>
                            <td>{{ orders.coin.first }}</td>
                            <td>{{ orders.quantity }}</td>
                            <td>{{ orders.price }}</td>
                            <td>
                                <!-- Edit and Delete actions for Coin Images -->
                                <a href="{% url 'dynamic_update' 'orderitem' orders.pk %}?order_id={{ order.pk }}" class="btn btn-primary btn-sm">Edit</a>
                                <a href="{% url 'dynamic_delete' 'orderitem' orders.pk %}?order_id={{ order.pk }}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">No images found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <a href="{% url 'dynamic_create' 'orderitem' %}?order_id={{ order.pk }}" class="btn btn-success">Add Order Item</a>
                <a href="{% url 'dynamic_list' 'order' %}" class="btn btn-danger">Back to Coins</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}